.block-effect {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.block-reveal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bc, #000);
    transform: translateY(100%);
    transition: transform var(--td, 0.5s) var(--d, 0s);
}

.block-reveal a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.block-reveal:hover {
    transform: translateY(0%);
}

nav ul li {
    margin: 0 20px;
}

nav ul li h1 {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
