/* Variables for easy customization */
:root {
    --primary-color: #ffeb3b;
    --secondary-color: #fdd835;
    --text-color: #333;
    --background-color: #ededdf;
    --font-family: 'Poppins', sans-serif;
    --font-size-base: 8px;
    --font-size-large: 18px;
    --font-size-medium: 14px;
    --font-size-small: 8px;
    --font-size-extra-large: 24px;
    --border-radius: 10px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Header */
header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: var(--box-shadow);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
    color: var(--primary-color);
}

/* Social icons */
.social-media a {
    margin: 0 2px;
    transition: transform 0.3s;
}

.social-media img {
    width: 10px; /* Adjust icon size */
    height: 10px; /* Adjust icon size */
}

.social-media a:hover {
    transform: scale(1.2);
}

.social-icons img,
.scholar-links img {
    width: 10px; /* Adjust icon size */
    height: 10px; /* Adjust icon size */
}

/* Main content */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: var(--font-size-extra-large);
    margin: 0;
}

h2 {
    font-size: var(--font-size-medium);
    margin-bottom: 20px;
}

p {
    font-size: var(--font-size-large);
    margin: 10px 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
        text-align: center;
    }

    .intro-left, .intro-right {
        max-width: 100%;
        padding: 0;
    }

    .profile-img {
        width: 150px; /* Adjust size for smaller screens */
        height: 150px; /* Adjust size for smaller screens */
    }
}
